# In dev: app runs in host, and infra in docker containers, which are exposed through localhost.
PORT=3000
WS_PORT=1234
PUBLIC_WS_COLLAB_URL=ws://localhost:1234
NODE_ENV=development
REDIS_URL=redis://localhost:6379
DATABASE_URL=postgresql://exhausted_coder:IHateDevOps@localhost:5432/growthlog?schema=public

# In prod: app runs in docker container from image, infra accessed on back-tier network.
PORT=3000
NODE_ENV=production
REDIS_URL=redis://redis:6379
DATABASE_URL=postgresql://exhausted_coder:IHateDevOps@postgres:5432/growthlog?schema=public

# For both: credentials for PostgreSQL container to set up with
POSTGRES_DB=growthlog
POSTGRES_USER=exhausted_coder
POSTGRES_PASSWORD=IHateDevOps

# Secrets for both:
JWT_SECRET=generate by openssl rand -hex 32
SESSION_SECRET=generate by openssl rand -hex 32
