@import "tailwindcss";

@theme inline {
  --font-serif: var(--fraunces);
  --font-mono: var(--dm-mono);
}

@custom-variant dark (&:where(.dark, .dark *));

/* Smoothen light-dark mode transition */
@layer base {
  * {
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
}