# For PostGreSQL
POSTGRES_USER=exhausted_coder
POSTGRES_PASSWORD=IHateDevOps
POSTGRES_DB=growthlog

# For the app
PORT=3000
NODE_ENV=production
REDIS_URL=redis://redis:6379
SESSION_SECRET=generate by openssl rand -hex 32
DATABASE_URL=postgresql://exhausted_coder:IHateDevOps@postgres:5432/growthlog?schema=public
